.form {
  display: flex;
  flex-direction: column;
  //   margin-right: auto;
  //   margin-left: auto;
}

.form-text {
  margin-bottom: 12px;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.03em;

  @media screen and (min-width: 1200px) {
    line-height: 1.15;
  }
}

.form-label {
  margin-bottom: 10px;
}

.form-desc {
  margin-bottom: 20px;
}

.input-wrapper {
  position: relative;
  display: block;
}

.form-input-desc {
  display: inline-flex;
  margin-bottom: 4px;

  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: var(--secondary-color);
}

.form-input {
  //   padding: 12px 42px;
  width: 100%;
  height: 40px;
  border: 1px solid var(--input-border-color);
  border-radius: 4px;

  transition: border-color 250ms var(--transition-function);

  &:focus {
    outline: none;
    border-color: var(--accent-color);
  }
}

.form-icon {
  position: absolute;
  top: 50%;
  left: 12px;
  transform: translateY(-50%);

  transition: fill 250ms var(--transition-function);

  .form-input:focus + & {
    fill: var(--accent-color);
  }
}

.form-textarea {
  width: 100%;
  height: 120px;
  padding: 12px 16px;
  border: 1px solid var(--input-border-color);
  border-radius: 4px;
  resize: none;

  transition: border-color 250ms var(--transition-function);

  &:focus {
    outline: none;
    border-color: var(--accent-color);
  }

  &::placeholder {
    color: var(--placeholder-color);
  }
}

.form-checkbox {
  display: flex;
  align-items: center;
  margin-bottom: 30px;

  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: #757575;

  &::before {
    content: '';
    display: block;
    width: 16px;
    height: 16px;
    margin-right: 7px;
    border: 1px solid black;
    border-radius: 2px;
    cursor: pointer;

    .form-confirm:checked + & {
      background-color: var(--accent-color);
      background-image: url(../images/forms/icon-check.svg);
      background-position: center;
      border-color: var(--accent-color);
    }

    .form-confirm:focus + & {
      border-color: var(--accent-color);
    }
  }
}

.form-link {
  color: var(--accent-color);

  &:visited {
    color: var(--accent-color);
  }
}

// .form {
//   display: flex;
//   flex-direction: column;
//   margin-right: auto;
//   margin-left: auto;
// }

// .form-text {
//   margin-bottom: 12px;

//   font-weight: 700;
//   text-align: center;
//   letter-spacing: 0.03em;
// }

// .form-label {
//   margin-bottom: 10px;
// }

// .form-desc {
//   margin-bottom: 20px;
// }

// .form-input-desc {
//   display: inline-flex;
//   margin-bottom: 4px;

//   font-size: 12px;
//   line-height: 1.17;
//   letter-spacing: 0.01em;
//   color: var(--secondary-color);
// }

// .input-wrapper {
//   position: relative;
//   display: block;
// }

// .form-input {
//   padding: 12px 42px;
//   width: 100%;
//   height: 40px;
//   border: 1px solid var(--input-border-color);
//   border-radius: 4px;

//   transition: border-color 250ms var(--transition-function);

//   &:focus {
//     outline: none;
//     border-color: var(--accent-color);
//   }
// }

// .form-icon {
//   position: absolute;
//   top: 50%;
//   left: 12px;
//   transform: translateY(-50%);

//   transition: fill 250ms var(--transition-function);

//   .form-input:focus + & {
//     fill: var(--accent-color);
//   }
// }

// .form-textarea {
//   width: 100%;
//   height: 120px;
//   padding: 12px 16px;
//   border: 1px solid var(--input-border-color);
//   border-radius: 4px;
//   resize: none;

//   transition: border-color 250ms var(--transition-function);

//   &:focus {
//     outline: none;
//     border-color: var(--accent-color);
//   }

//   &::placeholder {
//     color: var(--placeholder-color);
//   }
// }

// .form-checkbox {
//   display: flex;
//   align-items: center;
//   margin-bottom: 30px;

//   font-size: 14px;
//   line-height: 1.71;
//   letter-spacing: 0.03em;
//   color: #757575;

//   &::before {
//     content: '';
//     display: block;
//     width: 16px;
//     height: 16px;
//     margin-right: 7px;
//     border: 1px solid black;
//     border-radius: 2px;
//     cursor: pointer;

//     .form-confirm:checked + & {
//       background-color: var(--accent-color);
//       background-image: url(../images/forms/icon-check.svg);
//       background-position: center;
//       border-color: var(--accent-color);
//     }

//     .form-confirm:focus + & {
//       border-color: var(--accent-color);
//     }
//   }
// }

// .form-link {
//   color: var(--accent-color);

//   &:visited {
//     color: var(--accent-color);
//   }
// }
